name: Modrinth

on:
  push:
    tags: "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21
    - name: Modrinth
      run: ./gradlew modrinth
      env:
        MODRINTH_TOKEN: "${{ secrets.MODRINTH_TOKEN }}"
